<div class="largeContainer">
  <div class="bikeBG">
    <div class="textContainer">
      <span class="bigParallaxText">Study data from
      <br>
      Philly's bikeshare.</span>
    </div>
  </div>
</div>
