<div class="largeContainer">
  <div class="bikeBG">
    <div class="textContainer">
      <span class="bigParallaxText">Study data from
      <br>
      Philly's bikeshare.</span>
    </div>
  </div>
  <div class="contentContainer">
    <div class="content left">
      <div class="insideContent">
        <span class="contentTitle purp">About</span>
        <p>
        This website is a project by Kris Weldon, a coding bootcamp graduate and Indego bike rider. Its aim is to take Indego's open-source CSV data and present hundreds of thousands of data entries via interactive graphs and charts. Indedata is currently in its beta stages; any reported bugs or suggested improvements are appreciated!
        <br>
      </div>
    </div>
    <div class="content middle">
        <div class="insideContent">
          <span class="contentTitle white">Credits</span>
          <p>
          <span class="white">Indedata uses the <a href="http://chartkick.com/" target="_blank"><b>Chartkick</b></a> gem by ankane. Indedata is not affiliated with Indego, but should check them out!</span>
          <p>
          <%= link_to "http://rideindego.com", :target => "_blank" do %>
            <%= image_tag('official_logo.png') %>
          <% end %>
          <br>
      </div>
    </div>
      <div class="content right">

      </div>
  </div>


</div>
