<h1>woop woop</h1>

  <div>
    <h3>Types of Trips To and From Welcome Park</h3>
    <%= pie_chart BikeTrip.group(:trip_route_category).where(start_station_id: 3005).count %>
  </div>

    <div>
    <h3>Types of Passholders Using Welcome Park</h3>
    <%= pie_chart BikeTrip.group(:passholder_type).where(start_station_id: 3005).count %>
  </div>


<h3> Daily visits to Welcome Park</h3>

<%= line_chart BikeTrip.group_by_day(:start_time).where(start_station_id: 3005).count %>

