/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:800,400);

body{
  font-family: Arial;
  font-size: 14px;
}

a{
  cursor: pointer;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: white;
}

.mainLogo{
  color: #b30086;
  font-size: 2.5em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.linkMenu{
  list-style: none;
  height: 0;
  font-size: 1.5em;
  padding-top: 3px;
  display: inline-block;
}

.linkMenuBurger{
  visibility: hidden;
}

.mainHeader{
  width: 100%;
  color: white;
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  position: fixed;
  height: 5em;
  padding-top: 1em;
  padding-left: .5em;
}

#mainContainer{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin: 0 10px;
}
